<div class="container">
  <div class="row">
    <div class=" col-md-4"><app-carburant></app-carburant></div>
    <div class=" col-md-4"><app-transmition></app-transmition></div>
    <div class=" col-md-4"><app-voiture-pricing></app-voiture-pricing></div>
    <div class="col-md-6"><app-marque></app-marque></div>
    <div class="col-md-6"><app-categorie></app-categorie></div>
    <div class="col-md-6"><app-agence></app-agence></div>
    <div class="row">
    <div class="col-md-6"><app-voiture></app-voiture></div>

    </div>

  </div>
    </div>

