
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-1 col-md-offset-2">
    <ul class="nav nav-tabs">
      <li role="presentation" routerLinkActive="active" class="btn  m-2"><a routerLink="/Carburant" class="text-danger">Carburant</a></li>
      <li role="presentation" routerLinkActive="active" class="btn  m-2"><a routerLink="/Transmition">transmition</a></li>
      <li role="presentation" routerLinkActive="active" class="btn  m-2"><a routerLink="/VoiturePrincing">voiture-pricing</a></li>
      <li role="presentation" routerLinkActive="active" class="btn  m-2"><a routerLink="/marque">marque</a></li>
      <li role="presentation" routerLinkActive="active" class="btn  m-2"><a routerLink="/categorie">categorie</a></li>
      <li role="presentation" routerLinkActive="active" class="btn  m-2"><a routerLink="/Agence">agence</a></li>
      <li role="presentation" routerLinkActive="active" class="btn  m-2"><a routerLink="/Voiture">Voiture</a></li>
      <li role="presentation" routerLinkActive="active" class="btn  m-2"><a routerLink="/Client">clients</a></li>
      <li role="presentation" routerLinkActive="active" class="btn  m-2"><a routerLink="/Note">Notes</a></li>
      <li role="presentation" routerLinkActive="active" class="btn  m-2"><a routerLink="/Review">reviews</a></li>
      <li role="presentation" routerLinkActive="active" class="btn  m-2"><a routerLink="/Ville">Ville</a></li>
      <li role="presentation" routerLinkActive="active" class="btn  m-2"><a routerLink="/Pays">Pays</a></li>
      <li role="presentation" routerLinkActive="active" class="btn  m-2"><a routerLink="/EtatLieu">EtatLieu</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-1 col-md-offset-2">
    <router-outlet></router-outlet>
  </div>
</div>




