
<div class="card">
  <div class="card-header">Ajouter Carburant</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <label>Libelle</label>
        <input type="text" class="form-control" [(ngModel)]="carburant.libelle">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 ">
        <label >Carburant</label> <select name="carburant"  class="form-control" >
        <option  *ngFor="let c of carburants">{{c.libelle}}</option>
      </select>
      </div>
    </div>
    <div class="card-footer">
      <button class=" btn btn-block  btn-outline-dark" (click)="save()">Ajouter</button>

    </div>
    <div class="card">
      <div class="card-header">find by Carburant Libelle</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <label>Libelle</label>
            <input type="text" class="form-control" [(ngModel)]="carburant.libelle">
          </div>
        </div>
        <div class="row" [hidden]="!test" >
          <div class="col-md-12 "  >
            <div *ngIf="carburantfoanded.libelle!=null ;else elseBlock">{{carburantfoanded.libelle}}</div>
            <ng-template #elseBlock class="text-danger">Carburant n'exist pas</ng-template>
          </div>
        </div>
        <div class="card-footer">
          <button class=" btn btn-block  btn-outline-dark" id="b1" (click)="findByLibelle(carburant);test=true">rechercher</button>

        </div>

        <div class="card">
          <div class="card-header">Delete Carburant Libelle</div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <label>Libelle</label>
                <input type="text" class="form-control" [(ngModel)]="cloneCarburant(carburant).libelle">
              </div>
            </div>
            <div class="card-footer">
              <button class=" btn btn-block  btn-outline-dark" (click)="deleteByLibelle(carburant)">Delete</button>

            </div>

            <table class="table table-striped">
              <thead>
              <tr>
                <th>libelle</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let c of carburants">
                <td>{{c.libelle}}</td>
                <td><button class="btn btn-danger btn-sm fa fa-plus " (click)="findByCarburantLibelle(c)"></button></td>
              </tr>
              </tbody>
            </table>
