
<div class="card">
  <div class="card-header">Ajouter VoiturePricing</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <label>porcentage</label>
        <input type="number" [(ngModel)]="this.porcentage" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>DateDebut</label>
        <input type="date" datetime="yyyy-MM-dd"  [(ngModel)]="voiturePricing.dateDebut" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>DateFin</label>
        <input type="date" datetime="yyyy-MM-dd"  [(ngModel)]="this.voiturePricing.datefin" class="form-control">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 ">
        <label>Categorie</label> <select [(ngModel)]="voiturePricing.categorie" class="form-control">
        <option  *ngFor="let c of voitureResult"  [ngValue]="c.categorie">{{c.categorie.libelle}}</option>
      </select>
      </div>
    </div>
    <div class="card-footer">
      <button class=" btn btn-block  btn-outline-dark" (click)="save(voiturePricing)">Ajouter</button>

