
<div class="card col-md-6 m-3">
  <div class="card-header">Ajouter VoiturePricing</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <label>porcentage</label>
        <input type="number" [(ngModel)]="this.porcentage" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>DateDebut</label>
        <input type="date" datetime="yyyy-MM-dd"  [(ngModel)]="voiturePricing.dateDebut" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>DateFin</label>
        <input type="date" datetime="yyyy-MM-dd"  [(ngModel)]="voiturePricing.datefin" class="form-control">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 ">
        <label>Categorie</label> <select [(ngModel)]="voiturePricing.categorie" class="form-control">
        <option  *ngFor="let c of categories" [ngValue]="c">{{c.libelle}}</option>
      </select>
      </div>
    </div>
    <div class="card-footer">
      <button class=" btn btn-block  btn-outline-dark" (click)="save(voiturePricing)">Ajouter</button>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>dateDebut</th>
          <th>datefin</th>
          <th>agence</th>
          <th>categorie</th>
          <th>prix</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of voiturePrincins">
          <td> <span contenteditable="true">{{c.dateDebut}}</span></td>
          <td>{{c.datefin}}</td>
          <td>{{c.agence.nom}}</td>
          <td>{{c.categorie.libelle}}</td>
          <td>{{c.prix}}</td>
          <td><button class="btn btn-danger btn-sm fa fa-check-circle" ></button></td>
          <td><button class="btn btn-danger btn-sm fa fa-trash-o" (click)="deleteByCategorieLibelle(c)" ></button></td>
        </tr>
        </tbody>
      </table>
