
<div class="card col-md-6 m-3" >
  <div class="card-header">Ajouter une agence</div>
  <div class="card-body">

    <div class="row">
      <div class="col-md-12">
        <label>Nom</label>
        <input type="text" [(ngModel)]="agence.nom" class="form-control">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Numéro de Télephone</label>
        <input type="number" [(ngModel)]="agence.numTele" class="form-control">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Code</label>
        <input type="text" [(ngModel)]="agence.code" class="form-control">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>Adresse</label>
        <input type="text" [(ngModel)]="agence.adress" class="form-control">
      </div>
      <div class="col-md-6">
        <label>Ville</label>
        <select name="ville" [(ngModel)]="agence.ville" class="form-control">
          <option  *ngFor="let v of villes" [ngValue]="v" >{{v.nom}}</option>
        </select>
      </div>
    </div>
  </div>
    <div class="card-footer">
      <button class=" btn btn-block  btn-outline-dark" (click)="save(agence)" [disabled]="!validatSave()">save</button>
      <button class=" btn btn-block  btn-outline-dark" >update</button>
      <button class="btn btn-block btn-outline-dark"(click)="deleteByCode(agence)">delete</button>
    </div>

    <div>
    <label>Listes des agences</label>
    <select name="agence" class="col-md-12 "  (click)="findAll()" >
      <option  *ngFor="let f of agences">{{f.code}}</option>
    </select>
  </div>

</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Nom d'agence</th>
    <th>Num</th>
    <th>Code</th>
    <th>L'adresse </th>
    <th>Ville</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ag of agencesByNom ">
    <td>{{ag.nom}}</td>
    <td>{{ag.numTele}}</td>
    <td>{{ag.code}}</td>
    <td>{{ag.adress}}</td>
    <td>{{ag.ville.nom}}</td>

  </tr>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Nom d'agence</th>
    <th>Num</th>
    <th>Code</th>
    <th>L'adresse </th>
    <th>Ville</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let av of agencesByVille">
    <td>{{av.nom}}</td>
    <td>{{av.numTele}}</td>
    <td>{{av.code}}</td>
    <td>{{av.adress}}</td>
    <td>{{av.ville.nom}}</td>
  </tr>
  </tbody>
</table>

<div class="card col-md-4 m-3">
  <div class="card-header">
    <div class="row">
        <label>nom</label>
      </div>
    <div class="row">
      <input type="text" class="form-control" [(ngModel)]="agence.nom">
    </div>
    <div class="row">
      <label>ville</label>
    </div>
    <div class="row">
      <input type="text" class="form-control" [(ngModel)]="agence.ville">
    </div>
  </div>
  <div class="card-body">
    <button class="btn btn-dark btn-outline-light" (click)="findByNom(agence)">chercher par nom</button>
    <button class="btn btn-dark btn-outline-light" (click)="findByVille(agence)">chercher par ville</button>
    <button class="btn btn-dark btn-outline-danger " (click)="deleteByNom(agence)">supprimer par nom</button>
  </div>
  </div>







