<div class="card">
       <label>listes de agences </label>
 <select name="agence" class="col-md-auto"  (click)="findall()" >
  <option  *ngFor="let f of agences">{{f.nom}}</option>
</select>
  </div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>nom agence</th>
    <th>code </th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of agences">
    <td>{{c.nom}}</td>
    <td>{{c.code}}</td>
    <td><button class="btn btn-danger btn-sm fa fa-plus " (click)="findByCode(c)"></button></td>
  </tr>
  </tbody>
</table>



